html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #176fc1;
  text-decoration: none;
}

.full-width {
  flex: 0 0 100%;
  clear: right;
}

.large {
  font-size: large;
}

/* nav styles */

.menu {
  padding-right: 20px;
  cursor: pointer;
}

.menu .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #176fc1;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #ffffff;
  background-color: #4cbd38;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    text-align: right;
  }

  .nav-links a {
    display: inline-block;
    padding: 10px;
  }

  .nav-links a:last-child {
    /* padding-right: 0; */
  }

  .menu {
    display: none;
  }
}

html.dark {
  background-color: #1744c1;
  color: #ccc;
}

.dark a, .dark .nav-links a {
  color: #fff;
}

.dark .menu .line {
  background-color: #fff;
}

.tag {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
