---
import BaseLayout from "../layouts/BaseLayout.astro";
import Map from "../components/Map.svelte";
import "leaflet/dist/leaflet.css";
const location = { latitude: 49.41297, longitude: 8.67068 };
---

<BaseLayout title="Contact">

    <div>
        <h3>Main email address</h3>
            <p>admin.saez@uni-heidelberg.de</p>
        <h3>Jobs, internships</h3>
            <p>jobs.saez@uni-heidelberg.de</p>
        <h3>Team members</h3>
            <p>
                You can find the email of lab members in the <a
                href="/people/">People</a> section.
            </p>
        <h3>Location</h3>
            <Map client:load {location} zoom={17} markerMarkup="We are on the 10th floor<br>\
                of the Marsilius-Arkaden<br>\
                West tower (INF130.3).<br>" />
            <p>
                Institute for Computational Biomedicine
                Im Neuenheimer Feld 130.3, 69120 Heidelberg<br />
                10th floor (Marsiliusarkaden), AG Saez-Rodriguez
                Tel: + 49 6221 56 7521</p>
            </p>
    </div>

</BaseLayout>
