---
import BaseLayout from "../layouts/BaseLayout.astro";
import Intro from "../components/Intro.astro";
const pageTitle = "Home"
---

<BaseLayout title="Home" pageTitle="Saez-Rodriguez Group">
	<p class="large"><em>Systems Biomedicine</em></p>
	<Intro />
</BaseLayout>
