---
const baseurl = import.meta.env.BASE_URL;
---

<div id="intro">
    <img id="logo" src=`${baseurl}/saezlab-logo.png` />
    <p>
        Our goal is to acquire a functional understanding of the
        deregulation of signalling networks in disease and to apply this
        knowledge to develop novel therapeutics. We focus on cancer,
        auto-immune and fibrotic disease. Towards this goal, we integrate
        big (‘Omics’) data with mechanistic molecular knowledge into
        statistical and machine learning methods, and we share our tools as
        free open-source packages.
    </p>
    <p>
        We are at the <a
        href="https://www.medizinische-fakultaet-hd.uni-heidelberg.de/einrichtungen/institute/institute-for-computational-biomedicine">Institute
        for Computational Biomedicine</a> at the <a
        href="http://www.medizinische-fakultaet-hd.uni-heidelberg.de/Home.2.0.html?L=en"
        target="_blank">Medical Faculty</a> of <a
        href="https://www.uni-heidelberg.de/en" target="_blank">Heidelberg
        University</a> and <a
        href="https://www.heidelberg-university-hospital.com/home/"
        target="_blank">Heidelberg University Hospital</a>. We are also
        part of <a
        href="https://www.embl.de/mmpu/mmpu/research_groups/chronic_kidney_disease/index.html"
        target="_blank">the Molecular Medicine Partnership Unit (MMPU)</a>
        between the Medical Faculty of the University of Heidelberg and the
        European Molecular Biology Laboratory (EMBL) and of <a
        href="https://www.ellis-life-heidelberg.eu/">ELLIS Heidelberg</a>.
    </p>

</div>


<style>
    #logo {
        width: 200px;
    }
</style>
