---
import A from "../components/A.astro";
---

<div class="nav-links">
  <A href="/">Home</A>
  <A href="/research/">Research</A>
  <A href="/papers/">Papers</A>
  <A href="/people/">People</A>
  <A href="/resources/">Resources</A>
  <A href="/jobs/">Jobs</A>
  <A href="/contact/">Contact</A>
</div>
