---
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/research/">Research</a>
  <a href="/papers/">Papers</a>
  <a href="/people/">People</a>
  <a href="/resources/">Resources</a>
  <a href="/jobs/">Jobs</a>
  <a href="/contact/">Contact</a>
</div>
