---
const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.3rem 0.4rem;
    color: white;
    background-color: #918f90;
    text-decoration: none;
    margin-right: 10px;
  }
</style>
